<section class="sweep-container">
    <h1>Contenders</h1>
  
    @for (player of players; track player.id) {
      <div class="player-card">
        <img [src]="isUserStillIn(player) ? player.images.winAvatar : player.images.loseAvatar" 
             class="status-avatar">
        
        <div class="player-info">
          <h2 style="font-weight: 900; font-size: 1.5rem;">{{ player.name }}</h2>
          
          <div class="team-grid">
            @for (team of player.teams; track team.id) {
                <span class="team-badge" 
                      [class.cut]="!team.isStillIn"
                      [style.--rand-rot]="team.randomRotation"
                      [style.--rand-top]="team.randomTop + '%'"
                      [style.--rand-left]="team.randomLeft + '%'">
                  <img 
                      [src]="'images/teams/' + team.id + '.png'"
                      alt="crest"
                  >
                  {{ team.name }}
                </span>
              }
          </div>
        </div>
      </div>
    }
  </section>